@{
    ViewData["Title"] = "Employee Details";
}


<div class="row">
    <div class="col-md-4">
        <h2>Employee Details</h2>
        <input type="text" name="First Name" id="EmpFName" class="form-control" placeholder="First Name">
        <input type="text" name="Last Name" id="EmpFName" class="form-control" placeholder="Last Name">
        <input type="text" name="Department" id="EmpDept" class="form-control" placeholder="Department">

        <br />
        <input name="submit" type="submit" id="submit" value="Save" />
    </div>
</div>